* {
    /* Normalize: */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* Night mode: */
    color: whitesmoke;
    background-color: darkslategray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* printf("HERE!!!!!!!"); */
    /* border: 3px dotted red; */
}

html, body {
    height: 100%;
}

body {
    display: grid;
    min-height: 100%;
    grid-template-areas:
        "ti .. .. .. cn"
        ".. re re re .."
        ".. re re re .."
        ".. re re re .."
        ".. .. sb .. ..";
    grid-template-rows: minmax(50px, 1fr) 1fr 1fr 1fr;
    grid-template-columns: minmax(50px, 1fr) minmax(50px, 1fr) 10em minmax(50px, 1fr) minmax(50px, 1fr);
}

#title {
    grid-area: ti;
    margin: 1rem;
}

#city-name {
    grid-area: cn;
    margin: auto;
    padding-right: 1rem;
    font-size: 4rem;
}

#results {
    grid-area: re;
    align-self: center;
    justify-self: center;
    font-size: 5rem;
}

#searchbox {
    grid-area: sb;
    display: flex;
    max-width: 20em;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 1rem ;
}

#searchbox > * {
    align-self: center;
    margin: 0.2rem 0 0 0;
}

#searchbox > label {
    align-self: flex-start;
}

#searchbox > input {
    width: 100%;
    font-size: 1.1rem;
    border-radius: 1rem;
    padding: 0 0.3rem 0 0.3rem;
}

#searchbox > button {
    margin-top: 0.5rem;
    width: 5rem;
    font-size: 1.1rem;
}
